:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.input-number {
    width: 200px;
}
.code-wrap {
    display: flex;
    flex-direction: column;
    height: 500px;
    
    /deep/ .control input {
        width: auto;
    }
}