<div class="nav">
    <div class="nav_item" *ngFor="let item of dateOptions" [ngClass]="{current: dataType == item.value}"
        (click)="dataTypeChange(item.value)">{{ item.label }}</div>

    <nz-range-picker [(ngModel)]="dateRange" (ngModelChange)="dateChange()" nzShowTime>
    </nz-range-picker>
    
    <button nz-button nzType="primary" (click)="refreshData()" [nzLoading]="isLoading" style="margin-left: 16px;">查询</button>
    <button nz-button nzType="default" (click)="export()" style="margin-left: 16px;">导出</button>
</div>

<nz-table [nzData]="[{}]" [nzShowPagination]="false" [nzFrontPagination]="false" [nzBordered]="true" [nzSize]="'small'"
    [nzScroll]="{ x: '1500px' }">
    <thead>
        <tr>
            <th *ngFor="let item of tableHeaders">{{ item.label }}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of dataList">
            <td *ngFor="let header of tableHeaders">{{ data[header.key] }}</td>
        </tr>
    </tbody>
</nz-table>