<ny-modal appendTo="nz-content" [isFull]="true" [(visible)]="visible" (onClose)="close()">
    <ny-header>
        <h2>会员详情</h2>
        <p style="flex: 1"></p>
    </ny-header>
    <div class="modal-content member-modal-content" *ngIf="visible">
        <div class="user-info">
            <div class="head-avatar">
                <img *ngIf="!detail.avatar && params.id" src="../../../../../assets/img/user-30.svg" width="100%" />
                <img *ngIf="detail.avatar" [src]="ossPath + detail.avatar" width="100%" />
            </div>
            <div class="info">
                <div class="name mb8">{{ detail.name }}</div>
                <div>{{ detail.contact }}</div>
            </div>
            <div class="account">
                <div class="mb8">账户储值：</div>
                <div>{{ account.balance || 0 }}元</div>
            </div>
            <div style="margin-top: 8px;">
                <span>折扣: {{ account.discount_rate || '' }}</span>
            </div>
        </div>
        <div style="flex: 1;overflow: hidden;display: flex;">
        <nz-tabset (nzSelectChange)="tabChange($event)">
            <nz-tab nzTitle="基本信息" nyForm="detailForm" (onInit)="onDetailFormInit()">
                <div class="form-group flex-center">
                    <label class="label">类型:</label>
                    <div>
                        <nz-radio-group nyName="type">
                            <label nz-radio [nzValue]="1">个人</label>
                            <label nz-radio [nzValue]="2">企业</label>
                        </nz-radio-group>
                    </div>
                </div>
                <div class="form-group">
                    <label class="label"><em>*</em>姓名:</label>
                    <div>
                        <input nz-input placeholder="姓名" nyName="name" errorStyle="float" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="label">身份证号:</label>
                    <div>
                        <input nz-input placeholder="身份证号" nyName="id_card" errorStyle="float" />
                    </div>
                </div>
                <div class="form-group flex-center">
                    <label class="label"><em>*</em>性别:</label>
                    <div>
                        <nz-radio-group nyName="gender">
                            <label nz-radio [nzValue]="1">男</label>
                            <label nz-radio [nzValue]="2">女</label>
                        </nz-radio-group>
                    </div>
                </div>
                <div class="form-group">
                    <label class="label">照片:</label>
                    <div>
                        <crop-image [aspectRatio]="1" (onComplete)="uploadImgComplete($event)">
                            <nz-upload class="avatar-uploader" nzName="avatar" nzListType="picture-card"
                                [nzShowUploadList]="false" >
                                <ng-container *ngIf="!params.avatar">
                                    <i class="upload-icon" nz-icon [nzType]="isUploadLoading ? 'loading' : 'plus'"></i>
                                    <div class="ant-upload-text">上传图片</div>
                                </ng-container>
                                <img *ngIf="params.avatar" [src]="ossPath + params.avatar" class="avatar" />
                            </nz-upload>
                        </crop-image>
                    </div>
                </div>
                <div class="form-group">
                    <label class="label"><em>*</em>手机号:</label>
                    <div>
                        <input nz-input placeholder="手机号" nyName="contact" errorStyle="float" />
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="label">是否接收短信</label>
                    <div style="line-height: 32px;">
                        <nz-switch [(ngModel)]="params.receive_sms" nzCheckedChildren="是" nzUnCheckedChildren="否"></nz-switch>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="label">微信号:</label>
                    <div>
                        <input nz-input placeholder="微信号" nyName="wechat_id" errorStyle="float" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="label">生日:</label>
                    <div>
                        <nz-date-picker nyName="birthday" errorStyle="float" style="width: 200px;"></nz-date-picker>
                    </div>
                </div>

                <div class="form-group">
                    <label class="label">公司名:</label>
                    <div>
                        <input nz-input placeholder="公司名" nyName="company_name" errorStyle="float" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="label">兴趣爱好:</label>
                    <div>
                        <input nz-input placeholder="兴趣爱好" nyName="hobbies" errorStyle="float" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="label">婚姻状况:</label>
                    <div>
                        <nz-select nyName="marital_status" errorStyle="float">
                            <nz-option nzLabel="已婚" [nzValue]="1"></nz-option>
                            <nz-option nzLabel="离异" [nzValue]="2"></nz-option>
                            <nz-option nzLabel="未婚" [nzValue]="0"></nz-option>
                        </nz-select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="label">出行习惯:</label>
                    <div>
                        <nz-select nyName="trip_mode" errorStyle="float">
                            <nz-option *ngFor="let item of tripMode" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
                        </nz-select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="label">课程需求:</label>
                    <div>
                        <nz-select nyName="course_requirements" errorStyle="float">
                            <nz-option *ngFor="let item of requirements" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
                        </nz-select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="label">住址:</label>
                    <div>
                        <textarea nz-input placeholder="住址" nyName="address" errorStyle="float"
                            [nzAutosize]="{ minRows: 3, maxRows: 6 }" style="width: 300px;resize: none;"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="label"><em>*</em>来源:</label>
                    <nz-select nyName="source_id" errorStyle="float">
                        <nz-option *ngFor="let item of memberSourceList" [nzLabel]="item.name" [nzValue]="item.id">
                        </nz-option>
                    </nz-select>
                    <span class="unit pointer" (click)="getMemberSourceList()">
                        <i nz-icon nzType="sync" nzTheme="outline"></i>
                    </span>
                </div>
                <div class="form-group">
                    <label class="label">所属场馆:</label>
                    <nz-select nyName="hall_id" errorStyle="float" [nzDisabled]="true">
                        <nz-option *ngFor="let hall of hallList" [nzLabel]="hall.name" [nzValue]="hall.id"></nz-option>
                    </nz-select>
                    <div>
                        <button nz-button style="margin-left: 8px;" (click)="showUpdateModal()">修改</button>
                    </div>
                </div>
                <div class="form-group">
                    <label class="label">销售员:</label>
                    <nz-select nyName="salesman_id" errorStyle="float" [nzDisabled]="true">
                        <nz-option *ngFor="let salesman of salesmanList" [nzLabel]="salesman.name" [nzValue]="salesman.id"></nz-option>
                    </nz-select>
                </div>
                <div class="form-group">
                    <label class="label">教练:</label>
                    <nz-select nzMode="multiple" nzShowSearch nyName="coach_ids" errorStyle="float">
                        <nz-option *ngFor="let coach of coachList" [nzLabel]="coach.name" [nzValue]="coach.id">
                        </nz-option>
                    </nz-select>
                    <span class="unit pointer" (click)="getCoachList()">
                        <i nz-icon nzType="sync" nzTheme="outline"></i>
                    </span>
                </div>
                <div class="form-group">
                    <label class="label">推荐人:</label>
                    <nz-select nyName="referrer_id" errorStyle="float" [nzShowSearch]="true" [nzServerSearch]="true"
                    (nzOnSearch)="onSearch($event)" (nzScrollToBottom)="loadMore()">
                        <nz-option *ngFor="let item of allMember" [nzLabel]="item.label" [nzValue]="item.id"></nz-option>
                        <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
                            <i nz-icon nzType="loading" class="loading-icon"></i> 加载中
                        </nz-option>
                    </nz-select>
                </div>
                <div class="form-group">
                    <label class="label">注册日期:</label>
                    <div>
                        <nz-date-picker [(ngModel)]="params.created_at" style="width: 200px;" [nzShowTime]="true"
                            [nzDisabled]="true"></nz-date-picker>
                    </div>
                </div>
                <div class="form-group">
                    <label class="label"></label>
                    <div>
                        <label nz-checkbox [(ngModel)]="params.is_test_account" nyName="is_test_account">允许作为测试账号</label>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="label"></label>
                    <div>
                        <button nz-button nzType="primary" (click)="saveMember()">保存</button>
                    </div>
                </div>
            </nz-tab>
            <nz-tab nzTitle="体测数据">
                <div style="height: 100%; display: flex;flex-direction: column;" *ngIf="tabsInit[1]">
                    <content-header [buttonGroups]="buttons" [collection]="bodyCollection">
                        <ny-search-input [uri]="'hall/member/admin/member/body-indicator/list?member_id=' + detail.id"
                            [pageSize]="50" (collection)="setBodyCollection($event)">
                        </ny-search-input>
                    </content-header>
                    <ny-table [collection]="bodyCollection">
                        <ng-template nyColumn label="操作" width="100px" let-item>
                            <a (click)="editBodyData(item)">详情</a>
                        </ng-template>
                    </ny-table>
                </div>
            </nz-tab>
            <nz-tab nzTitle="课程卡">
                <div style="margin: 8px 0;" *ngIf="tabsInit[2]">
                    <content-header [collection]="courseCardCollection">
                        <ny-search-input [uri]="'hall/member/admin/member/course-card/list?member_id=' + detail.id" [pageSize]="50"
                            (collection)="setCourseCardCollection($event)">
                        </ny-search-input>
                    </content-header>
                </div>

                <nz-table [nzData]="courseCardCollection.data" [nzSize]="'small'" [nzShowPagination]="false" [nzFrontPagination]="false">
                    <thead>
                        <tr>
                            <th>卡名</th>
                            <th>卡号</th>
                            <th>场馆</th>
                            <th>余额</th>
                            <th>生效日期</th>
                            <th>失效日期</th>
                            <th>状态</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of courseCardCollection.data">
                            <td><a (click)="memberCourseCardDetail(data)">{{ data.name }}</a></td>
                            <td>{{ data.card_no }}</td>
                            <td>{{ data.hall_name }}</td>
                            <td>
                                <span>{{ data.balance }}</span>
                                <span *ngIf="data.type == 1">次</span>
                                <span *ngIf="data.type == 2">天</span>
                            </td>
                            <td>{{ data.start_date }}</td>
                            <td>{{ data.end_date }}</td>
                            <td>
                                <span *ngIf="data.status == 10">正常</span>
                                <span *ngIf="data.status == -10">停卡</span>
                                <span *ngIf="data.status == -20">关卡</span>
                                <span *ngIf="data.status == -30">请假</span>
                                <span *ngIf="data.status == 30">已转卡</span>
                            </td>
                        </tr>
                    </tbody>
                </nz-table>
            </nz-tab>
            <nz-tab nzTitle="账户余额">
                <div style="height: 100%; display: flex;flex-direction: column;" *ngIf="tabsInit[3]">
                    <content-header [collection]="accountLogCollection">
                        <ny-search-input
                            [uri]="'hall/member/admin/member/account/log/list?member_id=' + detail.id"
                            [pageSize]="50" (collection)="setAccountCollection($event)"></ny-search-input>
                    </content-header>
                    <ny-table [collection]="accountLogCollection"></ny-table>
                </div>
            </nz-tab>
            <nz-tab nzTitle="跟进记录">
                <div style="height: 100%; display: flex;flex-direction: column;" *ngIf="tabsInit[4]">
                    <content-header [collection]="followCollection">
                        <ny-search-input
                            [uri]="'hall/member/admin/member/follow/list?member_id=' + detail.id"
                            [pageSize]="50" (collection)="setFollowCollection($event)"></ny-search-input>
                    </content-header>
                    <ny-table [collection]="followCollection"></ny-table>
                </div>
            </nz-tab>
            <nz-tab nzTitle="到访记录">
                <div style="height: 100%; display: flex;flex-direction: column;" *ngIf="tabsInit[5]">
                    <content-header [collection]="visitCollection">
                        <ny-search-input
                            [uri]="'hall/member/admin/member/visit/list?member_id=' + detail.id"
                            [pageSize]="50" (collection)="setVisitCollection($event)"></ny-search-input>
                    </content-header>
                    <ny-table [collection]="visitCollection"></ny-table>
                </div>
            </nz-tab>
            <nz-tab nzTitle="上课记录">
                <div style="height: 100%; display: flex;flex-direction: column;" *ngIf="tabsInit[6]">
                    <content-header [collection]="attendClassCollection">
                        <ny-search-input
                            [uri]="'hall/member/admin/member/attend-class-list?id=' + detail.id"
                            [pageSize]="50" (collection)="setattendClass($event)"></ny-search-input>
                    </content-header>
                    <ny-table [collection]="attendClassCollection"></ny-table>
                </div>
            </nz-tab>
            <nz-tab nzTitle="会籍更换记录">
                <div style="height: 100%; display: flex;flex-direction: column;" *ngIf="tabsInit[7]">
                    <content-header [collection]="transformCollection">
                        <ny-search-input
                            [uri]="'hall/member/admin/member/member-salesman-change/list?member_id=' + detail.id"
                            [pageSize]="50" (collection)="setTransformCollection($event)"></ny-search-input>
                    </content-header>
                    <ny-table [collection]="transformCollection"></ny-table>
                </div>
            </nz-tab>
        </nz-tabset>
        </div>
    </div>
</ny-modal>

<nz-modal [(nzVisible)]="bodyVisible" [nzTitle]="'体测数据详情'" [nzFooter]="null" (nzOnCancel)="cancelEditBody()"
    [nzWidth]="620" [nzMaskClosable]="false">
    <div class="form-group">
        <label class="label">体测时间:</label>
        <div>
            <nz-date-picker [(ngModel)]="bodyParams.indicator_date" [nzDisabled]="disabled"></nz-date-picker>
        </div>
    </div>
    <div class="form-group" *ngFor="let item of bodyList">
        <label class="label">{{ item.name }}:</label>
        <div>
            <input nz-input [(ngModel)]="item.value" [disabled]="disabled" />
        </div>
        <span class="unit" *ngIf="item.unit">{{ item.unit }}</span>
    </div>
</nz-modal>

<nz-modal [(nzVisible)]="hallVisible" [nzTitle]="'修改所属场馆'" (nzOnCancel)="cancelUpdateHall()"
    [nzWidth]="550" [nzMaskClosable]="false" (nzOnOk)="memberBindShop()">
    <div class="form-group">
        <label class="label"><em>*</em>所属场馆:</label>
        <nz-select [(ngModel)]="hallParams.hall_id" [nzShowSearch]="true">
            <nz-option *ngFor="let hall of hallList" [nzLabel]="hall.name" [nzValue]="hall.id"></nz-option>
        </nz-select>
    </div>
</nz-modal>

<nz-modal [(nzVisible)]="accountVisible" [nzTitle]="'课程详情'" (nzOnCancel)="closeAccountDetail()"
    [nzWidth]="620" [nzMaskClosable]="true" [nzFooter]="null">
    <div class="form-group flex-center">
        <label class="label">门店:</label>
        <div>{{ accountDetail.hall_name }}</div>
    </div>
    <div class="form-group flex-center">
        <label class="label">课程时间:</label>
        <div>{{ accountDetail.start_at }} <span>-</span> {{ accountDetail.end_at }}</div>
    </div>
    <div class="form-group flex-center">
        <label class="label">课程名称:</label>
        <div>{{ accountDetail.course_name }}</div>
    </div>
    <div class="form-group flex-center">
        <label class="label">课程类型:</label>
        <div>{{ courseTypes[accountDetail.course_type] }}</div>
    </div>
    <div class="form-group flex-center">
        <label class="label">教练:</label>
        <div>{{ accountDetail.coach_name }}</div>
    </div>
</nz-modal>