:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}
.sign-date {
    margin-left: 32px;
    color: #f08336;
}
.red {
    color: red;
}
.member-name {
    color: #3388ff;
    cursor: pointer;
}
.member-info {
    display: flex;
    margin-bottom: 4px;
    .flex2 {
        flex: 2;
        overflow: hidden;
    }
}
.logs {
    border-top: 1px solid #e8e8e8;
    padding-top: 24px;
}
.active{
    color: #1890ff !important;
    cursor: pointer;
}
